.transaction {
	position: relative;

	i {
		position: absolute;
		top: 5px;
		right: -25px;
		cursor: pointer;
	}
}

.category {
	display: inline-block;
	font-size: 12px;
	padding: 2px 5px;
	border-radius: 3px;
}
